body {
    background-image: url("/img/sky_00379.jpg");
    background-size: cover;
}

.body_wrappin {
    display: flex;
    justify-content: space-around;
    /* 要素間に均等なスペースを配置 */
    /* コンテンツを中央に配置 */
    width: 100%;
    /* 必要に応じて幅を調整 */
}

.header{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    /* 角を丸くする */
}

.contents{
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

#view,
#myMap {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.419);
    color: #DBDBDB;
    overflow: auto;
    width: 80%;
    /* 地図と天気ビューの幅を調整 */
    /* margin: 0 auto; */
    /* 水平方向の中央揃え */
    border-radius: 20px;
    /* 角を丸くする */
}

#view {
    width: 20%;
    height: 500px;
}

#myMap {
    width: 50%;
    height: 500px
}

img {
    width: 50px;
}

#view>div {
    font-size: medium;
}

h1 {
    text-align: center;
    color: #EEF9FF;
    font-weight: normal;
}

h2 {
    font-size: x-large;
    color: #f1071e;
}

h3 {
    text-align: center;
    font-size: 15px;
    color: #EEF9FF;
    font-weight: normal;
}

#buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* ボタンのコンテナ内のテキスト（ボタン）を中心に配置 */
    margin: 20px 0;
    /* 上下の余白を適切に設定 */
}

button {
    background-color: rgba(0, 0, 0, 0.419);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.219);
}